.deleteRequest--button {
  background-color: #df73737c;
  color: black;
  font-weight: bold;
  text-align: center;
}

.cancelRequest--button {
  background-color: #df73737c;
  color: black;
  font-weight: bold;
}

.requestHistory {
  font-size: 1.1rem;
  box-shadow: 1px 1px 1px inset;
  background-color: rgba(128, 128, 128, 0.233);
  margin: 2rem;
}

.denyTransfer--button {
  margin-top: 0.5rem;
  background-color: #df73737c;
  color: black;
  font-weight: bold;
  width: 65%;
}
