.editComment--container {
  display: flex;
  justify-content: center;
}

.editCommentImage--container {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 2rem;
}

.editCommentImage--title {
  text-align: center;
}

.editComment--image {
  justify-content: center;
}

.puzzleCommentEdit {
  margin-right: 2rem;
}

.puzzleCommentEdit {
  width: 50%;
}

.editCommentSubmit--button {
  background-color: #b5d6d68c;
  color: black;
}

.editCommentCancel--button {
  background-color: #df737354;
  color: black;
}
