.loginForm--container {
  display: flex;
  justify-content: center;
}

.login--container {
  display: flex;
  flex-direction: column;
}

.loginSubmitButton--formGroup {
  display: flex;
  justify-content: center;
}

.loginSubmit--button {
  text-align: center;
}

.register--link {
  text-align: center;
}

.puzzleLogoImage--container {
  display: flex;
  justify-content: center;
}
