.postForm--container {
  display: flex;
  justify-content: center;
}

.postFormSecondary--container {
  display: flex;
  align-content: center;
  justify-content: center;
  border: 4px solid #b5d6d68c;
  width: 90%;
  margin-top: 5rem;
}

.postForm {
  width: 90%;
  margin: 3rem;
}

.newPuzzleCategory--option {
  max-width: 40%;
}
