.commentSection {
  width: 50%;
  height: 200%;
  overflow-y: scroll;
}

.puzzleDetails {
  width: 50%;
  height: 50%;
}

.puzzleCommentsContainer {
  display: flex;
  height: 15rem;
}

.addComment--button {
  width: 30%;
}
