.puzzleSearch {
  max-width: 25%;
  margin: 1rem;
}
.puzzleSearchContainer {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.searchButtons {
  display: flex;
  margin: 1rem;
}

.submitSearch {
  margin-right: 0.5rem;
}

.clearSearch {
  margin-left: 0.5rem;
  background-color: #df73737c;
  color: black;
}
